body {
	font-family: 'DM Mono', monospace;
	background-color: #EEEEEE;
}

.navbar-dark {
	background-color: #00796B;
}

main>.container {
	padding: 72px 15px 0;
}

main>.container-fluid {
	padding: 100px 15px 0;
}

.btn {
	padding: 7px 15px;
    border: 0 none;
    text-transform: uppercase;
}

td {
	max-height: 100px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
	background:#00796B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #004C40;
}

.btn-danger {
	background:#c43e00;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	background: #b53d00;
}

.progress{
	background-color: #DDDDDD;
	height: 25px;
}

.progress-bar {
	color: #EEEEEE;
	background-color: #5e92f3;
}

.footer {
	background-color: #48a999;
	color: #EEEEEE;
}

.footer>.container>.row>a {
	color: #EEEEEE;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}
