body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #EEEEEE;
}

.navbar-dark {
	background-color: #007769;
}

main>.container {
	padding: 72px 15px 0;
}

main>.container-fluid {
	padding: 100px 15px 0;
}

.btn {
	padding: 2px 10px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
	background:#CE6C4D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #C75B39;
}

.progress{
	align-items: center;
	vertical-align: middle;	
	height: 25px;

}

.progress-bar {
	color: #EEEEEE;
	background-color: #ce6c4d;
}

.footer {
	background-color: #48a999;
	color: #EEEEEE;
}

.footer>.container>.row>a {
	color: #EEEEEE;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}
